<?xml version="1.0" encoding="utf-8"?>
<!-- 
	xml中的命名空间：用来唯一的标识来表示一个元素
	1 在跟标签使用xmlns 默认所有子元素都来自于这个命名空间
	2 命名空间  
	描述一张桌子
	<table xmlns="zhaojing@briup.com/zhuozi">
		<color>green</color>
		<size>70*200</size>
	</table>
	描述一张表格
	<table xmlns="zhaojing@briup.com/biaoge>
		<color>green</color>
		<size>70*200</size>
	</table>

	<table xmlns:zhuozi="zhaojing@briup.com/zhuozi"
	xmlns:biaoge="zhaojing@briup.com/biaoge"
	>
		<zhuozi:color>green</zhuozi:color>
		<zhuozi:size>70*200</zhuozi:size>
		<biaoge:tr>
			<biaoge:td></biaoge:td>
		</biaoge:tr>
		<biaoge:tr>
			<biaoge:td></biaoge:td>
		</biaoge:tr>
	</table>

	xmlns:名字 
		在子标签中，使用了 名字:标签名的标签
		是来自于这个命名空间的
	<table xmlns="http://www.briup.com/xmlns/table" 
	xmlns:t="http://www.briup.com/xmlns/table">
		<t:color>color<t:color>
		<t:size>100*100</t:size>
		<tr>
			<td></td>
		</tr>
	</table>

	<table>
		<color><color>
		<size></size>
	</table>

	包名   域名 不带www
	briup.com.testxml
	com.briup.......
 -->
<web-app version="2.5"  xmlns="http://java.sun.com/xml/ns/javaee "
										xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
										xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee 
																		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd ">
										
	<welcome-file-list>
		<welcome-file>index.jap</welcome-file>
	</welcome-file-list>
</web-app>

